body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: steelblue;
    color: aliceblue;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    padding: 15px 20px 15px 20px;

    background-color: aliceblue;
    color: navy;
    border-bottom: 2px navy solid;
}

header h1 {
    width: 100%;
    text-align: start;
    font-size: 48px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;
}

.contact a, .contact p {
    margin: 0 0 0 15px
}

#links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0 5px 0;

    background-color: darkgrey;
    border-bottom: 2px navy solid;
}

#links a {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-top: 2px navy solid;
}

footer a {
    font-size: 24px;
}

img {
    border: 2px solid aliceblue;
}

section {
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, .25);
    padding: 20px 20px 35px 30px;
}

section h2{
    border-bottom: 2px aliceblue solid;
    width: 95%;
}

section h3 {
    border-bottom: 2px aliceblue solid;
    width: 35%;
}
section h4 {
    border-bottom: 2px aliceblue solid;
    width: fit-content;
}

.screenshot {
    width: 100%;
    height: auto;
    margin: 20px 0 20px 0;
}