body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    background-color: steelblue;
    color: aliceblue;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    height: fit-content;
    padding: 15px 20px 15px 20px;

    background-color: aliceblue;
    color: navy;
    border-bottom: 2px navy solid;
}

header h1 {
    width: 100%;
    text-align: start;
    font-size: 48px;
}

.contact {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    width: 100%;
}

.contact a, .contact p {
    margin: 0 0 0 15px
}

#links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5px 0 5px 0;

    background-color: darkgrey;
    border-bottom: 2px navy solid;
}

#links a {
    font-size: 24px;
}

main {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

footer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    border-top: 2px navy solid;
}

footer a {
    font-size: 24px;
}

img {
    border: 2px solid aliceblue;
}

section {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    background-color: rgba(0, 0, 0, .25);
    padding: 20px 20px 35px 30px;
    justify-content: center;
}

section h2{
    border-bottom: 2px aliceblue solid;
    width: 95%;
}

section h3 {
    border-bottom: 2px aliceblue solid;
    width: 35%;
    margin-top: 25px;
}
section h4 {
    border-bottom: 1px aliceblue solid;
    width: fit-content;
}

.screenshot-container {
    width: fit-content;
    margin: 0 auto;
}

.screenshot {
    width: 100%;
    max-width: 70vw;
    height: auto;
    margin: 20px 0 20px 0;
}

#contact-me {
    margin-bottom: 0;
}

.email {
    color: lightblue;
    margin-top: 100px;
}

.secondary-div {
    width: 50%;
}

@media screen and (max-width: 767px) {
    .sub-section {
        flex-direction: column-reverse !important;
        width: 100% !important;
    }

    img {
        margin: auto !important;
    }

    a {
        width: fit-content !important;
        margin: auto !important;
    }

    .secondary-div {
        display: flex !important;
        justify-content: center !important;
        width: 100% !important
    }

    .contact-subsection {
        flex-direction: column !important;
        margin-left: 10px;
        justify-content: start !important;
    }

    .contact-subsection p {
        margin-left: 0;
    }
}