body {
    display: flex;
    flex-direction: column;

    height: 100vh;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;

    height: 10vh;
}

main {
    display: flex;
    flex-direction: column;
}

footer {
    display: flex;
    flex-direction: row;
    height: 10vh;
    align-items: center;
}